//nexus.neuralcompany.team/repository/npm-hosted/:_authToken=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
always_auth = true
email = yatin.bindra@xenonstack.com
registry = https://nexus.neuralcompany.team/repository/npm-hosted/
