//nexus.neuralcompany.team/repository/npm-hosted/:_authToken=NpmToken.f9cc048d-7ea6-3308-9895-fa6b84c15b2d
always_auth = true
email = yatin.bindra@xenonstack.com
registry = https://nexus.neuralcompany.team/repository/npm-hosted/
