//nexus.neuralcompany.team/repository/npm-hosted/:_authToken=NpmToken.422d32a1-2a4c-3126-99d7-2bd0b980d243
always_auth = true
email = amit.maurya@xenonstack.com
registry = https://nexus.neuralcompany.team/repository/npm-hosted/
